<nav class="al-pagination <% options.class ? print(options.class) : '' %>">
	<% if (options.skipless) { %> 
		<%= Pagination.page({}) %>
	<% } else { %>
		<% for (i = 0; i < pages.length; i++) {
			print(Pagination.page(pages[i]));
		} %>
	<% } %>
</nav>